.productos__bg {
    background-color: #171717;
}

.galeria__card {
    margin-bottom: 20px; /* Agrega el espaciado vertical deseado */
}

.galeria {
    transition: all .8s ease-in-out;
}
.galeria:hover {
    border: 1px solid red;
    cursor: pointer;
    border-radius: .5rem;
}

.galeria img {
    background-color: #000000;
    backdrop-filter: blur(20px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 1rem;
}

.galeria span {
    text-decoration: line-through;
    font-weight: normal;
    color: #dd1010;
}

@media (max-width: 500px){
    .galeria img {
        padding-left: 0;
        padding-right: 0;
    }
}

.galeria h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 460px){
    .galeria h4 {
        font-size: 14px;
    }
}

@media (max-width: 460px){
    .galeria button {
        padding: 5px 20px 5px 20px!important;
    }
}

@media (max-width: 350px) {
    .flex1__col {
        flex: 0 0 auto;
        width: 100%;
    }
}