.productos__bg {
    background-color: #171717;
}

/** Cambio de background segun rutas */
.lujo__bg {
    background-color: #ffdb00;

    & .galeria:hover {
        border: 1px solid #000000;
    }

    & h2, p {
        color: black;
    }

    & .galeria img {
        background-color: #181818;
    }

    & .envio {
        border: 1px solid #000000;
    }
}

.elegant__bg {
    background-color: #B87333;

    & .galeria:hover {
        border: 1px solid #F5F5DC;
    }

    & h2, h4, p {
        color: rgb(0, 0, 0);
    }

    & .galeria img {
        background-color: #F5F5DC;
    }

    & .envio {
        border: 1px solid #f5f4f4;
    }
}

.moderno__bg {
    background-color: #4CAF50;

    & .galeria:hover {
        border: 1px solid #ffffff;
    }

    & h2, h4, p {
        color: rgb(0, 0, 0);
    }

    & .galeria img {
        background-color: #ffffff;
    }

    & .envio {
        border: 1px solid #ffffff;
    }
}

.brillante__bg {
    background-color: #8c8c8c;

    & .galeria:hover {
        border: 1px solid #ffffff;
    }

    & h2, h4, p {
        color: rgb(0, 0, 0);
    }

    & .galeria img {
        background-color: #ffffff;
    }

    & .envio {
        border: 1px solid #ffffff;
    }
}

.minimalista__bg {
    background-color: #F57C00;

    & .galeria:hover {
        border: 1px solid #FFD280;
    }

    & h2, h4, p {
        color: rgb(0, 0, 0);
    }

    & .galeria img {
        background-color: #FFD280;
    }

    & .envio {
        border: 1px solid #FFD280;
    }
}

.futurista__bg {
    background-color: #3E3E3E;

    & .galeria:hover {
        border: 1px solid #A3A3A3;
    }

    & h2, h4, p {
        color: rgb(255, 255, 255);
    }

    & .galeria img {
        background-color: #A3A3A3;
    }

    & .envio {
        border: 1px solid #A3A3A3;
    }
}

.year__bg {
    background-color: #00B894;

    & .galeria:hover {
        border: 1px solid #FF6F61;
    }

    & h2, h4, p {
        color: rgb(255, 255, 255);
    }

    & .galeria img {
        background-color: #FF6F61;
    }

    & .envio {
        border: 1px solid #FF6F61;
    }
}

.galeria__card {
    margin-bottom: 20px; /* Agrega el espaciado vertical deseado */
}

.galeria {
    transition: all .8s ease-in-out;
    position: relative;
}
.galeria:hover {
    border: 1px solid red;
    cursor: pointer;
    border-radius: .5rem;
}

.galeria img {
    background-color: #000000;
    backdrop-filter: blur(20px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 1rem;
}

.galeria::before {
    content: '50% off';
    font-size: 10px;
    position: absolute;
    text-align: center;
    top: 16px;
    left: 16px;
    background-color: red;
    z-index: 1;
    padding: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.galeria span {
    text-decoration: line-through;
    font-weight: normal;
    color: #dd1010;
}

.envio {
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid #ffdb00;
}

@media (max-width: 765px) {
    .envio {
        font-size: 10px;
    }
}

@media (max-width: 500px){
    .galeria img {
        padding-left: 0;
        padding-right: 0;
    }
}

.galeria h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 460px){
    .galeria h4 {
        font-size: 16px;
    }

    .parrafos__font {
        font-size: 14px;
    }
}

@media (max-width: 460px){
    .galeria button {
        padding: 5px 20px 5px 20px!important;
    }
}

@media (max-width: 350px) {
    .flex1__col {
        flex: 0 0 auto;
        width: 100%;
    }
}